@import "../../../assets/scss/common/mixins.scss";
@import "../../../assets/scss/common/vars.scss";

.header {
  background-color: $purple-color;
  color: $default-color;

  &__container {
    @extend %dfsb;
    width: 1600px;
    max-width: calc(100% - 60px);
    height: 80px;
    margin: 0 auto;
  }

  &__logo {
    @extend %dfc;
    height: 100%;
  }

  &__logo-img {
    width: 100px;
  }
}
