@import "../../../assets/scss/common/mixins.scss";
@import "../../../assets/scss/common/vars.scss";

.informer {
  background-color: rgba($purple-color, .3);
  color: $primary-color;

  &__container {
    height: 150px;
    text-align: center;
  }
}
