@import "../../assets/scss/common/mixins.scss";
@import "../../assets/scss/common/vars.scss";

.app {
  position: relative;

  &__main {
    display: flex;
    height: calc(100vh - 80px);
  }

  &__col {
    height: 100%;
    border: 1px solid red;
  }

  &__col--first {
    flex-basis: 300px;
  }

  &__col--second {
    flex-basis: calc(100% - 700px);
  }

  &__col--third {
    flex-basis: 400px;
  }
}
