@import "../../../assets/scss/common/mixins.scss";
@import "../../../assets/scss/common/vars.scss";

.charts {
  background-color: rgba($purple-color, .3);
  color: $primary-color;

  &__container {
    @extend %dfc;
    height: 300px;
  }
}
