@import "../../../assets/scss/common/mixins.scss";
@import "../../../assets/scss/common/vars.scss";

.charts {
  background-color: rgba($purple-color, .3);
  color: $primary-color;

  &__container {
    padding: 5px;
    overflow: hidden;

    &:not(.is-open-full) {
      height: calc(100vh - 390px);
    }
  }

  &__chart {
    display: flex;
    align-items: center;
    height: calc(100% - 50px);
  }
}
