@import "../../../assets/scss/common/mixins.scss";
@import "../../../assets/scss/common/vars.scss";

.map {
  height: 100%;
  background-color: rgba($purple-color, .1);
  color: #000;

  .leaflet-container {
    height: 100%;
  }

  .module-nav {
    margin: 0 0 3px;
  }

  .module-nav__menu-dropdown {
    z-index: 3000;
  }
}

.map__container {
  padding: 5px;
  height: 100%;
}

.map__wrapper {
  height: calc(100% - 38px);
  position: relative;
}
.map__wrapper .map__legend {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  border: 1px solid #C0C4CC;
  box-shadow: 0 0 5px 1px #C0C4CC;
  background: #eee;
  z-index: 1000;
}
.map__wrapper .map__legend > div {
  display: flex;
  margin: 5px;
}
.map__wrapper .map__legend_statistics {
  width: 75px;
}

.map__wrapper .map__legend_color-cases,
.map__wrapper .map__legend_color-deaths,
.map__wrapper .map__legend_color-recovered {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 5px;
}
.map__wrapper .map__legend_color-cases {background-color: rgb(83,196,214);}
.map__wrapper .map__legend_color-deaths {background-color:  rgb(202,1,1);}
.map__wrapper .map__legend_color-recovered {background-color: rgb(189,19,222);}