button[type="button"] {
    border: none;
    outline: none;
    background: inherit;
    cursor: pointer;
}

.if-open-full {
    display: none;
}

.is-open-full {
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $neutral-placeholder;

    .if-open-full {
        display: inline-block;
    }
}

.container {
    max-width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
}

.is-hide {
    display: none;
}

.text-center {
    text-align: center;
}

