button[type="button"] {
    border: none;
    outline: none;
    background: inherit;
    cursor: pointer;
}

.is-open-full {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $neutral-placeholder;
}